@import url('https://fonts.googleapis.com/css2?family=Cutive&family=Poppins:ital,wght@0,400;0,600;0,700;0,800;1,400;1,600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.input-field-active{
    -webkit-box-shadow:inset 0px 0px 0px 2px #2AF598;
    -moz-box-shadow:inset 0px 0px 0px 2px #2AF598;
    box-shadow:inset 0px 0px 0px 2px #2AF598;
}


.custom-checkbox-inActive {
    -webkit-box-shadow:inset 0px 0px 0px 2px #2AF598;
    -moz-box-shadow:inset 0px 0px 0px 2px #2AF598;
    box-shadow:inset 0px 0px 0px 2px #2AF598;
}
.custom-checkbox-active {
    background-color: #2AF598;
}